---
http_interactions:
- request:
    method: get
    uri: https://api-ap.hosted.exlibrisgroup.com/primo/v1/search?apikey=<REST_API_KEY>&limit=5&offset=0&q=title,contains,Misbehavior%20online%20in%20higher%20education&scope=UB_local_PC&tab=quicksearch&vid=UB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rtaResultsLink":"https://primoapac01.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/v1/rta/UB?recordInformation=$$V.b27288316$$OUB_MILLENNIUM.b27288316|$$V.b26773934$$OUB_MILLENNIUM.b26773934|,|$$VUB_MILLENNIUM$$OUB_MILLENNIUM.b27288316|$$VUB_MILLENNIUM$$OUB_MILLENNIUM.b26773934|,|__NO_VALUE__|,|$$VIII$$OUB_MILLENNIUM.b27288316|$$VIII$$OUB_MILLENNIUM.b26773934|,|dedupmrg1317898213|,|$$IBALLARAT$$L$$Scheck_holdings$$31$$40$$9ONLINE$$OUB_MILLENNIUM.b27288316|$$IBALLARAT$$L$$Scheck_holdings$$31$$40$$9ONLINE$$OUB_MILLENNIUM.b26773934|,|__NO_VALUE__|,|Online
        Resource|,|$$VBALLARAT$$OUB_MILLENNIUM.b27288316|$$VBALLARAT$$OUB_MILLENNIUM.b26773934|,|__NO_VALUE__|,|$$V$$TBALLARAT_III_holdings$$OUB_MILLENNIUM.b27288316|$$V$$TBALLARAT_III_holdings$$OUB_MILLENNIUM.b26773934|,|__NO_VALUE__|,|$$Vb2728831$$OUB_MILLENNIUM.b27288316|$$Vb2677393$$OUB_MILLENNIUM.b26773934|,|__NO_VALUE__|;|","highlights":{"ispartof":["Education","Higher","Higher
        Education"],"vertitle":["misbehavior online higher education","higher","misbehavior","Higher
        Education","in","educations","misbehaviour","Online","Misbehavior online in
        higher education","online","online","misbehavior","education","misbehaviors","onlines","highers","Misbehavior","misbehavior
        online in higher education","education","Education","Misbehavior Online","Higher","misbehaviour","higher"],"termsUnion":["misbehavior","Higher
        Education","education","onlines","Misbehavior Online","misbehaviour","Misbehavior
        online in higher education","misbehaviors","misbehavior","highers","educations","misbehavior
        online higher education","misbehaviour","online","higher","education","in
        higher education","online","higher","misbehavior online in higher education"],"title":["misbehavior","Online","misbehaviour","onlines","education","Education","educations","Misbehavior
        online in higher education","in","misbehavior online higher education","education","misbehaviour","Misbehavior","highers","online","higher","Misbehavior
        Online","misbehavior online in higher education","misbehavior","Higher Education","Higher","higher","online","misbehaviors"],"addtitle":["Higher","Education"],"relation":["in
        higher education"]},"docs":[{"enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"availabilityLinks":["detailsGetit1"],"physicalItemTextCodes":"","displayLocation":false,"availabilityLinksUrl":[""],"link":[{"displayLabel":"openurl","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA/?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2018-10-31T09%3A59%3A33IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.atitle=&rft.jtitle=&rft.btitle=Misbehavior%20online%20in%20higher%20education&rft.aulast=Wankel&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.issn=&rft.eissn=9781780524566&rft.isbn=9781780524573&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft_dat=%3CUB_MILLENNIUM%3E.b27288316%3C/UB_MILLENNIUM%3E%3Cgrp_id%3E1320740292%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft.eisbn=&rft_id=info:oai/&req.language=eng&rft_pqid=&rft_id=info:pmid/","linkType":"http://purl.org/pnx/linkType/openurl","@id":"_:0"},{"displayLabel":"openurl","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA/?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2018-10-31T09%3A59%3A33IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.atitle=&rft.jtitle=&rft.btitle=Misbehavior%20online%20in%20higher%20educatio[...]
