---
http_interactions:
- request:
    method: get
    uri: https://api-ap.hosted.exlibrisgroup.com/primo/v1/search?apikey=<REST_API_KEY>&limit=5&offset=0&q=title,contains,Travels%20with%20My%20Aunt&scope=UB_local_PC&tab=quicksearch&vid=UB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rtaResultsLink":"https://primoapac01.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/v1/rta/UB?recordInformation=.b10019315|,|UB_MILLENNIUM|,|__NO_VALUE__|,|III|,|UB_MILLENNIUM.b10019315|,|$$IBALLARAT$$Lsall$$1Main$$2(820.91
        G832 A6/T )$$Savailable$$31$$40|,|$$IBALLARAT$$Savailable|,|Physical Item|,|BALLARAT|,|__NO_VALUE__|,|$$TBALLARAT_III_holdings|,|__NO_VALUE__|,|b1001931|,|__NO_VALUE__|;|.b10472010|,|UB_MILLENNIUM|,|__NO_VALUE__|,|III|,|UB_MILLENNIUM.b10472010|,|$$IBALLARAT$$Lmall$$1Main$$2(820.91
        G832 A6/T )$$Savailable$$31$$40|,|$$IBALLARAT$$Savailable|,|Physical Item|,|BALLARAT|,|__NO_VALUE__|,|$$TBALLARAT_III_holdings|,|__NO_VALUE__|,|b1047201|,|__NO_VALUE__|;|","highlights":{"vertitle":["travels","TRAVELS","aunt","my","with","aunts","WITH","travels
        aunt","Travels","travels with my aunt","travel","My","travels","my aunt","Travels
        with my aunt","MY AUNT","aunt","My Aunt","travel with my aunt","MY","travelses","AUNT","Aunt"],"termsUnion":["travel","AUNT","MY
        AUNT","travels aunt","aunt","MY","My Aunt","WITH","my aunt","TRAVELS","aunts","my","travels
        with my aunt","travels","Travels","with","aunt","travelses","travel with my
        aunt","Aunt","travels","Travels with my aunt","My"],"title":["travelses","my
        aunt","MY AUNT","travels with my aunt","aunt","Travels","travels","travels
        aunt","travel with my aunt","travel","TRAVELS","aunts","AUNT","aunt","MY","Travels
        with my aunt","my","My","WITH","travels","Aunt","with","My Aunt"]},"docs":[{"enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"availabilityLinks":["directlink"],"physicalItemTextCodes":"","displayLocation":false,"availabilityLinksUrl":["http://innopac.ballarat.edu.au/record=b1001931"],"link":[{"displayLabel":"openurl","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA/?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2018-10-31T09%3A52%3A00IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.atitle=&rft.jtitle=&rft.btitle=Travels%20with%20my%20aunt&rft.aulast=Greene&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Greene,%20Graham,%201904-1991&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.issn=&rft.eissn=&rft.isbn=0140032215&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft_dat=%3CUB_MILLENNIUM%3E.b10019315%3C/UB_MILLENNIUM%3E%3Cgrp_id%3E450185632%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft.eisbn=&rft_id=info:oai/&req.language=eng&rft_pqid=&rft_id=info:pmid/","linkType":"http://purl.org/pnx/linkType/openurl","@id":"_:0"},{"displayLabel":"thumbnail","inst4opac":"BALLARAT","linkURL":"","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:1"},{"displayLabel":"thumbnail","inst4opac":"BALLARAT","linkURL":"https://proxy-ap.hosted.exlibrisgroup.com/exl_rewrite/syndetics.com/index.aspx?isbn=0140032215/SC.JPG&client=CLIENT","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:2"},{"displayLabel":"thumbnail","inst4opac":"BALLARAT","linkURL":"https://proxy[...]
