---
http_interactions:
- request:
    method: get
    uri: https://api-ap.hosted.exlibrisgroup.com/primo/v1/search?apikey=<REST_API_KEY>&limit=5&multiFacets=facet_rtype,include,books&offset=0&q=title,contains,Introduction%20to%20education%20studies,AND%3Bisbn,contains,0857029126&scope=UB_local_PC&tab=quicksearch&vid=UB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rtaResultsLink":"https://primoapac01.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/v1/rta/UB?recordInformation=.b1743399x|,|UB_MILLENNIUM|,|__NO_VALUE__|,|III|,|UB_MILLENNIUM.b1743399x|,|$$IBALLARAT$$Lmall$$1Main$$2(378.007
        B2847i3 )$$Savailable$$31$$40|$$IBALLARAT$$Lball$$1Main$$2(370.71 B291.I 2012
        )$$Savailable$$31$$40|$$IBALLARAT$$Lgall$$1Main$$2(370.71 B291.I 2012 )$$Savailable$$31$$40|,|$$IBALLARAT$$Savailable|,|Physical
        Item|,|BALLARAT|,|__NO_VALUE__|,|$$TBALLARAT_III_holdings|,|__NO_VALUE__|,|b1743399|,|__NO_VALUE__|;|","highlights":{"vertitle":["introduction
        to education study","introduction to education studies","studies","introductions","introduction
        education studies","study","introduction","educations","Introduction to education
        studies","education"],"termsUnion":["education","introductions","introduction","introduction
        to education studies","introduction to education study","Introduction to education
        studies","introduction education studies","educations","study","studies","Education
        studies"],"title":["education","introductions","studies","introduction education
        studies","introduction to education studies","educations","Introduction to
        education studies","introduction","study","introduction to education study"],"relation":["Education
        studies"]},"docs":[{"enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"availabilityLinks":["directlink"],"physicalItemTextCodes":"","displayLocation":true,"availabilityLinksUrl":["http://innopac.ballarat.edu.au/record=b1743399"],"link":[{"displayLabel":"openurl","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA/?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2018-12-07T09%3A19%3A12IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.atitle=&rft.jtitle=&rft.btitle=Introduction%20to%20education%20studies.&rft.aulast=Bartlett&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Bartlett,%20Steve&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.issn=&rft.eissn=&rft.isbn=9780857029119&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft_dat=%3CUB_MILLENNIUM%3E.b1743399x%3C/UB_MILLENNIUM%3E%3Cgrp_id%3E450320428%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft.eisbn=&rft_id=info:oai/&req.language=eng&rft_pqid=&rft_id=info:pmid/&rft_%3Cprovider_id%3E={{control/%3Cprovider_id%3E}}","linkType":"http://purl.org/pnx/linkType/openurl","@id":"_:0"},{"displayLabel":"thumbnail","inst4opac":"BALLARAT","linkURL":"","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:1"},{"displayLabel":"thumbnail","inst4opac":"BALLARAT","linkURL":"https://proxy-ap.hosted.exlibrisgroup.com/exl_rewrite/syndetics.com/index.aspx?isbn=9780857029119/SC.JPG&client=CLIENT","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:2"},{"displayLabel":"thumbnail","inst4opac":"BALLARAT","linkURL":"https://pr[...]
