---
http_interactions:
- request:
    method: get
    uri: https://api-ap.hosted.exlibrisgroup.com/primo/v1/search?apikey=<GEM_REST_API_KEY>&limit=5&multiFacets=facet_rtype,include,books&offset=0&q=title,contains,Introduction%20to%20education%20studies,AND%3Bisbn,contains,0857029126&scope=UB_local_PC&tab=quicksearch&vid=UB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Exl-Api-Remaining:
      - '199950'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rtaResultsLink":"https://primoapac01.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/v1/rta/UB?recordInformation=.b1743399x|,|UB_MILLENNIUM|,|__NO_VALUE__|,|III|,|UB_MILLENNIUM.b1743399x|,|$$IBALLARAT$$Lmall$$1Main$$2(378.007
        B2847i3 )$$Savailable$$31$$40|$$IBALLARAT$$Lball$$1Main$$2(370.71 B291.I 2012
        )$$Savailable$$31$$40|$$IBALLARAT$$Lgall$$1Main$$2(370.71 B291.I 2012 )$$Savailable$$31$$40|,|$$IBALLARAT$$Savailable|,|Physical
        Item|,|BALLARAT|,|__NO_VALUE__|,|$$TBALLARAT_III_holdings|,|__NO_VALUE__|,|b1743399|,|__NO_VALUE__|;|","highlights":{"vertitle":["introduction
        to education study","introduction education studies","education","studies","introduction
        to education studies","Introduction","educations","study","introduction","Introduction
        to education studies","introductions"],"termsUnion":["education","educations","Introduction
        to education studies","introduction to education study","studies","Introduction","study","introduction
        education studies","introductions","introduction to education studies","introduction"],"title":["Introduction","introduction
        education studies","educations","education","introduction","introduction to
        education studies","study","Introduction to education studies","introductions","studies","introduction
        to education study"]},"docs":[{"enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"availabilityLinks":["directlink"],"physicalItemTextCodes":"","displayLocation":true,"availabilityLinksUrl":["http://library.federation.edu.au/record=b1743399"],"link":[{"displayLabel":"openurl","hyperlinkText":"","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2023-03-15T10%3A18%3A58IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.btitle=Introduction%20to%20education%20studies.&rft.aulast=Bartlett&rft.au=Bartlett,%20Steve&rft.isbn=9780857029119&rft.isbn_list=0857029118&rft.isbn_list=9780857029126&rft.isbn_list=0857029126&rft_id=info:doi/&rft_dat=%3CUB_MILLENNIUM%3E.b1743399x%3C/UB_MILLENNIUM%3E%3Cgrp_id%3E2521977027%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft_id=info:oai/&req.language=eng&rft_id=info:pmid/","linkType":"http://purl.org/pnx/linkType/openurl","@id":"_:0"},{"displayLabel":"thumbnail","hyperlinkText":"","inst4opac":"BALLARAT","linkURL":"","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:1"},{"displayLabel":"thumbnail","hyperlinkText":"","inst4opac":"BALLARAT","linkURL":"https://proxy-ap.hosted.exlibrisgroup.com/exl_rewrite/syndetics.com/index.aspx?isbn=9780857029119/SC.JPG&client=CLIENT","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:2"},{"displayLabel":"thumbnail","hyper[...]
