---
http_interactions:
- request:
    method: get
    uri: https://api-ap.hosted.exlibrisgroup.com/primo/v1/search?apikey=<GEM_REST_API_KEY>&limit=5&multiFacets=facet_rtype,include,books&offset=0&q=title,contains,Applied%20and%20Environmental%20Geophysics&scope=UB_local_PC&tab=quicksearch&vid=UB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Exl-Api-Remaining:
      - '199952'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rtaResultsLink":"https://primoapac01.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/v1/rta/UB?recordInformation=$$V.b17019527$$OUB_MILLENNIUM.b17019527|$$V.b17618095$$OUB_MILLENNIUM.b17618095|,|$$VUB_MILLENNIUM$$OUB_MILLENNIUM.b17019527|$$VUB_MILLENNIUM$$OUB_MILLENNIUM.b17618095|,|__NO_VALUE__|,|$$VIII$$OUB_MILLENNIUM.b17019527|$$VIII$$OUB_MILLENNIUM.b17618095|,|dedupmrg2361411399|,|$$IBALLARAT$$L$$Scheck_holdings$$31$$40$$9ONLINE$$OUB_MILLENNIUM.b17019527|$$IBALLARAT$$L$$Scheck_holdings$$31$$40$$9ONLINE$$OUB_MILLENNIUM.b17618095|,|__NO_VALUE__|,|Online
        Resource|,|$$VBALLARAT$$OUB_MILLENNIUM.b17019527|$$VBALLARAT$$OUB_MILLENNIUM.b17618095|,|__NO_VALUE__|,|$$V$$TBALLARAT_III_holdings$$OUB_MILLENNIUM.b17019527|$$V$$TBALLARAT_III_holdings$$OUB_MILLENNIUM.b17618095|,|__NO_VALUE__|,|$$Vb1701952$$OUB_MILLENNIUM.b17019527|$$Vb1761809$$OUB_MILLENNIUM.b17618095|,|__NO_VALUE__|;|","highlights":{"vertitle":["Applied
        and Environmental Geophysics","Geophysics","environmental","environmental
        geophysics","Applied","geophysics","Environmental","applied","applied and
        environmental geophysics","applied environmental geophysics","and environmental
        geophysics"],"termsUnion":["applied environmental geophysics","geophysics","Environmental","Geophysics","applied
        and environmental geophysics","Applied and Environmental Geophysics","applied","environmental","and
        environmental geophysics","Applied","environmental geophysics"],"title":["environmental","environmental
        geophysics","applied","geophysics","and environmental geophysics","Environmental","applied
        environmental geophysics","Applied","Applied and Environmental Geophysics","Geophysics","applied
        and environmental geophysics"]},"docs":[{"enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"availabilityLinks":["detailsGetit1"],"physicalItemTextCodes":"","displayLocation":false,"availabilityLinksUrl":[""],"link":[{"displayLabel":"openurl","hyperlinkText":"","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2023-03-15T10%3A18%3A56IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.btitle=An%20Introduction%20to%20Applied%20and%20Environmental%20Geophysics&rft.aulast=Reynolds&rft.au=Reynolds,%20John%20M&rft.eissn=9780471485353&rft.isbn=9780470975015&rft.isbn_list=9781119957140&rft_id=info:doi/&rft_dat=%3CUB_MILLENNIUM%3E.b17019527%3C/UB_MILLENNIUM%3E%3Cgrp_id%3E2380820832%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft_id=info:oai/&req.language=eng&rft_id=info:pmid/","linkType":"http://purl.org/pnx/linkType/openurl","@id":"_:0"},{"displayLabel":"openurl","hyperlinkText":"","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2023-03-15T10%3A18%3A56IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.btitle=An%20Introduction%20to%20Applied%20and%20Environmen[...]
