---
http_interactions:
- request:
    method: post
    uri: https://api-ap.hosted.exlibrisgroup.com/primo/v1/userJwt?apikey=<REST_ALT_API_KEY>
    body:
      encoding: UTF-8
      string: '{"viewId":"LATROBE","institution":"61LATROBE","user":"Pebbles","userName":"Murgatroyd
        PebblePad","userGroup":"U/Grad","onCampus":"true"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"eyJraWQiOiJwcmltb0V4cGxvcmVQcml2YXRlS2V5LTYxTEFUUk9CRSIsImFsZyI6IkVTMjU2In0.eyJpc3MiOiJQcmltbyIsImp0aSI6bnVsbCwiZXhwIjoxNTYxNzkxODM3LCJpYXQiOjE1NjE3MDU0MzcsInVzZXIiOiJQZWJibGVzIiwidXNlck5hbWUiOiJNdXJnYXRyb3lkIFBlYmJsZVBhZCIsInVzZXJHcm91cCI6IlUvR3JhZCIsImJvckdyb3VwSWQiOiIiLCJ1YmlkIjoiIiwiaW5zdGl0dXRpb24iOiI2MUxBVFJPQkUiLCJ2aWV3SW5zdGl0dXRpb25Db2RlIjoiNjFMQVRST0JFIiwiaXAiOiI0OS4xNzYuMjIzLjY5IiwicGRzUmVtb3RlSW5zdCI6bnVsbCwib25DYW1wdXMiOiJ0cnVlIiwibGFuZ3VhZ2UiOiJlbl9VUyIsImF1dGhlbnRpY2F0aW9uUHJvZmlsZSI6IiIsInZpZXdJZCI6IkxBVFJPQkUiLCJpbHNBcGlJZCI6IlBlYmJsZXMiLCJzYW1sU2Vzc2lvbkluZGV4IjoiIn0.A5zFxHAVfvzlkmpGaHnMyzRPrCMIV152h2HkXYa5qHDnFtm3msc_isdOUp94AXn1qA33zr5NT1gItzhEiNXd8A"'
  recorded_at: Fri, 28 Jun 2019 07:03:57 GMT
- request:
    method: get
    uri: https://api-ap.hosted.exlibrisgroup.com/primo/v1/search?apikey=<REST_ALT_API_KEY>&limit=5&multiFacets=facet_rtype,include,books&offset=0&q=title,contains,An%20introduction%20to%20research%20for%20midwives,AND%3Bisbn,contains,0702034908&scope=All&tab=default_tab&vid=LATROBE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer "eyJraWQiOiJwcmltb0V4cGxvcmVQcml2YXRlS2V5LTYxTEFUUk9CRSIsImFsZyI6IkVTMjU2In0.eyJpc3MiOiJQcmltbyIsImp0aSI6bnVsbCwiZXhwIjoxNTYxNzkxODM3LCJpYXQiOjE1NjE3MDU0MzcsInVzZXIiOiJQZWJibGVzIiwidXNlck5hbWUiOiJNdXJnYXRyb3lkIFBlYmJsZVBhZCIsInVzZXJHcm91cCI6IlUvR3JhZCIsImJvckdyb3VwSWQiOiIiLCJ1YmlkIjoiIiwiaW5zdGl0dXRpb24iOiI2MUxBVFJPQkUiLCJ2aWV3SW5zdGl0dXRpb25Db2RlIjoiNjFMQVRST0JFIiwiaXAiOiI0OS4xNzYuMjIzLjY5IiwicGRzUmVtb3RlSW5zdCI6bnVsbCwib25DYW1wdXMiOiJ0cnVlIiwibGFuZ3VhZ2UiOiJlbl9VUyIsImF1dGhlbnRpY2F0aW9uUHJvZmlsZSI6IiIsInZpZXdJZCI6IkxBVFJPQkUiLCJpbHNBcGlJZCI6IlBlYmJsZXMiLCJzYW1sU2Vzc2lvbkluZGV4IjoiIn0.A5zFxHAVfvzlkmpGaHnMyzRPrCMIV152h2HkXYa5qHDnFtm3msc_isdOUp94AXn1qA33zr5NT1gItzhEiNXd8A"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rtaResultsLink":"https://primo-direct-apac.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/v1/rta/LATROBE?recordInformation=$$V21197344510002146$$OAlmalu21197344510002146|$$V51250811530002146$$OAlmalu51250811530002146|,|$$VAlmalu$$OAlmalu21197344510002146|$$VAlmalu$$OAlmalu51250811530002146|,|$$V61LATROBE_INST$$OAlmalu21197344510002146|$$V61LATROBE_INST$$OAlmalu51250811530002146|,|$$VAlma$$OAlmalu21197344510002146|$$VAlma$$OAlmalu51250811530002146|,|dedupmrg1308757867|,|$$I61LATROBE$$LBEN_LIB$$1Bendigo
        Main Collection$$2(618.20072 R3282 )$$Savailable$$X61LATROBE_INST$$YBEN_LIB$$Zhmc$$P1$$OAlmalu21197344510002146|$$I61LATROBE$$LBUN_LIB$$1Offsite
        Storage Books (Please place a request)$$2(618.20072 R3282 )$$Savailable$$X61LATROBE_INST$$YBUN_LIB$$Zbc2$$P2$$OAlmalu21197344510002146|,|$$I61LATROBE$$Savailable|,|Alma-E|Alma-P|,|$$V61LATROBE$$OAlmalu21197344510002146|$$V61LATROBE$$OAlmalu51250811530002146|,|$$V61LATROBE_INST:21197344510002146$$OAlmalu21197344510002146|$$V61LATROBE_INST:51250811530002146$$OAlmalu51250811530002146|,|__NO_VALUE__|,|__NO_VALUE__|,|$$Vb29950247$$OAlmalu21197344510002146|$$Vb34735707$$OAlmalu51250811530002146|,|__NO_VALUE__|;|","highlights":{"vertitle":["introductions
        to researches for midwives","introduction to research for midwive","introduction
        to research for midwives","an introductions to researches for midwives","introduction
        research midwives","An introduction to research for midwives","midwive","an
        introduction to research for midwive","introductions to research for midwives","an
        introductions to research for midwives","introduction","introductions to research
        for midwive","an introduction to researches for midwive","researches","introduction
        to researches for midwive","research","an introductions to research for midwive","introduction
        to researches for midwives","midwives","introductions","an introduction to
        research for midwives","an introduction to researches for midwives"],"termsUnion":["an
        introductions to research for midwive","an introduction to researches for
        midwives","introduction to researches for midwives","introduction to research
        for midwives","midwive","an introduction to research for midwive","researches","an
        introductions to research for midwives","introduction to research for midwive","introductions
        to research for midwives","introduction to researches for midwive","introductions
        to research for midwive","an introductions to researches for midwives","An
        introduction to research for midwives","an introduction to researches for
        midwive","introductions to researches for midwives","midwives","introductions","introduction
        research midwives","introduction","an introduction to research for midwives","research"],"title":["research","introduction
        research midwives","introduction to research for midwive","researches","midwive","midwives","an
        introduction to research for midwive","introductions to researches for midwives","introduction
        to research for midwives","an introductions to research for midwives","introduction
        to researches for midwives","An introduction to research for midwives","introductions","an
        introductions to research for midwive","introduction to researches for midwive","introductions
        to research for midwives","an introduction to researches for midwives","introductions
        to research for midwive","an introduction to researches for midwive","an introduction
        to research for midwives","an introductions to researches for midwives","introduction"]},"docs":[{"enrichment":{"virtualBrowseObject":{"callNumber":"618.20072
        R3282","isVirtualBrowseEnabled":true,"callNumberBrowseField":"browse_callnumber.1"}},"delivery":{"availabilityLinks":["detailsGetit1","detailsGetit1"],"physicalItemTextCodes":"delivery.code.alsophysical","displayLocation":true,"availabilityLinksUrl":["",""],"link":[{"displayLabel":"thumbnail","hyperlinkText":"","inst4opac":"61LATROBE","linkURL":"","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:0"},{"displayLabel":"thumbnail","hyperlinkText":"","inst4opac":"61LATROBE","linkURL":"https://proxy-ap.hosted.exlibrisgroup.com/exl_rewrite/books.google.com/books?bibkeys=ISBN:9780702051654,OCLC:,LCCN:&jscmd=viewapi&callback=updateGBSCover","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:1"},{"displayLabel":"$$Elinktotoc","hyperlinkText":"","inst4opac":"61LATROBE","linkURL":"http://www.amazon.com/gp/reader/9780702051654","linkType":"http://purl.org/pnx/linkType/linktotoc","@id":"_:2"},{"displayLabel":"$$Eamazon","hyperlinkText":"","inst4opac":"61LATROBE","linkURL":"http://www.amazon.com/gp/product/9780702051654","linkType":"http://purl.org/pnx/linkType/linktouc","@id":"_:3"},{"displayLabel":"$$Eworldcat","hyperlinkText":"","inst4opac":"61LATROBE","linkURL":"http://www.worldcat.org/search?q=isbn%3A9780702051654","linkType":"http://purl.org/pnx/linkType/linktouc","@id":"_:4"},{"displayLabel":"thumbnail","linkURL":"https://proxy-ap.hosted.exlibrisgroup.com/exl_rewrite/syndetics.com/index.aspx?isbn=9780702051654/SC.JPG&client=primo","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:5"},{"displayLabel":"thumbnail","linkURL":"https://proxy-ap.hosted.exlibrisgroup.com/exl_rewrite/books.google.com/books?bibkeys=ISBN:9780702051654,OCLC:,LCCN:&jscmd=viewapi&callback=updateGBSCover","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:6"}],"availability":["not_restricted","available_in_my_institution"],"additionalLocations":false,"displayedAvailability":"not_restricted","holding":[{"matchForHoldings":[{"holdingRecord":"852##b","matchOn":"MainLocation"}],"subLocationCode":"hmc","ilsApiId":"","libraryCode":"BEN_LIB","isValidUser":true,"mainLocation":"BEN_LIB","callNumber":"(618.20072
        R3282 )","adaptorid":"ALMA_01","organization":"61LATROBE","holdingURL":"OVP","@id":"_:0","availabilityStatus":"available","subLocation":"Bendigo
        Main Collection","holdId":""},{"matchForHoldings":[{"holdingRecord":"852##b","matchOn":"MainLocation"}],"subLocationCode":"bc2","ilsApiId":"","libraryCode":"BUN_LIB","isValidUser":true,"mainLocation":"BUN_LIB","callNumber":"(618.20072
        R3282 )","adaptorid":"ALMA_01","organization":"61LATROBE","holdingURL":"OVP","@id":"_:1","availabilityStatus":"available","subLocation":"Offsite
        Storage Books (Please place a request)","holdId":""}],"bestlocation":{"matchForHoldings":[{"holdingRecord":"852##b","matchOn":"MainLocation"}],"mainLocation":"BEN_LIB","subLocationCode":"hmc","callNumber":"(618.20072
        R3282 )","organization":"61LATROBE","libraryCode":"BEN_LIB","@id":"_:0","availabilityStatus":"available","subLocation":"Bendigo
        Main Collection","holdId":"","isValidUser":true},"deliveryCategory":["Alma-E","Alma-P"],"serviceMode":["activate","activate"],"feDisplayOtherLocations":false,"GetIt1":[{"links":[{"isLinktoOnline":true,"displayText":"Almaviewit","hyperlinkText":"","getItTabText":"alma_tab1_norestrict","link":"https://ap01-a.alma.exlibrisgroup.com/view/uresolver/61LATROBE_INST/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=10_1&ctx_tim=2019-06-28T15%3A03%3A58IST&ctx_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004&rfr_id=info:sid/primo.exlibrisgroup.com-Almalu&req_id=&rft_dat=ie=61LATROBE_INST:21197344510002146,ie=61LATROBE_INST:51250811530002146,language=eng,view=LATROBE&svc_dat=viewit&u.ignore_date_coverage=true","@id":"_:0"}],"category":"Alma-E"},{"links":[{"isLinktoOnline":false,"displayText":"Almagetit","hyperlinkText":"","getItTabText":"alma_tab1_avail","link":"https://ap01-a.alma.exlibrisgroup.com/view/uresolver/61LATROBE_INST/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=10_1&ctx_tim=2019-06-28T15%3A03%3A58IST&ctx_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004&rfr_id=info:sid/primo.exlibrisgroup.com-Almalu&req_id=&rft_dat=ie=61LATROBE_INST:21197344510002146,ie=61LATROBE_INST:51250811530002146,language[...]
