---
http_interactions:
- request:
    method: get
    uri: https://api-ap.hosted.exlibrisgroup.com/primo/v1/search?apikey=<REST_API_KEY>&limit=5&multiFacets=facet_rtype,include,books&offset=0&q=title,contains,An%20introduction%20to%20research%20for%20midwives,AND%3Bisbn,contains,0702034908&scope=UB_local_PC&tab=quicksearch&vid=UB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rtaResultsLink":"https://primoapac01.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/v1/rta/UB?recordInformation=$$V.b24001272$$OUB_MILLENNIUM.b24001272|$$V.b16121156$$OUB_MILLENNIUM.b16121156|,|$$VUB_MILLENNIUM$$OUB_MILLENNIUM.b24001272|$$VUB_MILLENNIUM$$OUB_MILLENNIUM.b16121156|,|__NO_VALUE__|,|$$VIII$$OUB_MILLENNIUM.b24001272|$$VIII$$OUB_MILLENNIUM.b16121156|,|dedupmrg696852256|,|$$IBALLARAT$$L$$Scheck_holdings$$31$$40$$9ONLINE$$OUB_MILLENNIUM.b24001272|$$IBALLARAT$$Lmall$$1Main$$2(618.2
        R259i3 )$$Savailable$$31$$40$$OUB_MILLENNIUM.b16121156|$$IBALLARAT$$Lgall$$1Main$$2(618.20072
        R328.I 2011 )$$Savailable$$31$$40$$OUB_MILLENNIUM.b16121156|,|$$IBALLARAT$$Savailable|,|Online
        Resource|Physical Item|,|$$VBALLARAT$$OUB_MILLENNIUM.b24001272|$$VBALLARAT$$OUB_MILLENNIUM.b16121156|,|__NO_VALUE__|,|$$V$$TBALLARAT_III_holdings$$OUB_MILLENNIUM.b24001272|$$V$$TBALLARAT_III_holdings$$OUB_MILLENNIUM.b16121156|,|__NO_VALUE__|,|$$Vb2400127$$OUB_MILLENNIUM.b24001272|$$Vb1612115$$OUB_MILLENNIUM.b16121156|,|__NO_VALUE__|;|","highlights":{"vertitle":["introduction
        research midwives","researches","introduction to research for midwives","introduction","introductions","An
        introduction to research for midwives","midwive","an introduction to research
        for midwives","midwives","research"],"termsUnion":["introductions","researches","introduction
        research midwives","midwives","introduction to research for midwives","an
        introduction to research for midwives","research","introduction","An introduction
        to research for midwives","midwive"],"title":["introduction research midwives","An
        introduction to research for midwives","research","introduction to research
        for midwives","midwive","an introduction to research for midwives","introductions","introduction","midwives","researches"]},"docs":[{"enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"availabilityLinks":["directlink","directlink"],"physicalItemTextCodes":"delivery.code.alsophysical","displayLocation":true,"availabilityLinksUrl":["http://ezproxy.federation.edu.au/login?url=http://www.ballarat.eblib.com.AU/EBLWeb/patron/?target=patron&extendedid=P_1722038_0","http://innopac.ballarat.edu.au/record=b1612115"],"link":[{"displayLabel":"openurl","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA/?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2018-12-07T10%3A03%3A35IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.atitle=&rft.jtitle=&rft.btitle=An%20introduction%20to%20research%20for%20midwives&rft.aulast=Rees&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Rees,%20Colin&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.issn=&rft.eissn=9780702034909&rft.isbn=0702045926&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft_dat=%3CUB_MILLENNIUM%3E.b24001272%3C/UB_MILLENNIUM%3E%3Cgrp_id%3E450327913%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft.eisbn=&rft_id=info:oai/&req.language=eng&rft_pqid=&rft_id=info:pmid/&rft_%3Cprovider_id%3E={{control/%3Cprovider_id%3E}}","linkType":"http://purl.org/pnx/linkType/openurl","@id":"_:0"},{"displayLabel":"openurl","inst4opac":"BALLARAT","linkURL":"http://sfx-61uba.hosted.exlibrisgroup.com/61UBA/?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2018-12-07T10%3A03%3A35IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Journal-UB_MILLENNIUM&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.atitle=&rft.jtitle=&rft.btitle=An%20introduction%20to%20research%20for%20mid[...]
